* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body{
    background: #fff;
}
.container {
    width: 1180px;
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
}

.col-2 {
    flex-basis: 48%;
    max-width: 48%;
}

.col-3 {
    flex-basis: 30%;
    max-width: 30%;
}

.heading {
    color: #575757;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    text-transform: capitalize;
}


.content {
    font-size: 18px;
    line-height: 1.5;
    padding: 20px 0;
}

.blue-color {
    color: #12b3fb!important;
}

img {
    width: 100%;
    object-fit: cover;
}

.btn {
    margin: 25px 0;
}

.btn a {

    background: linear-gradient(90deg, #12B3FB, #008bff);
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 2px;
    padding: 15px 30px;
    border-radius: 30px;
    box-shadow: 0 0 19px -3px #4ab1ffb5;
}

/* Hero section */
.hero .container {
    min-height: 100vh;
}

.hero .content {
    color: #848484;
    font-size: 20px;
}
.hero .heading{
    font-size: 50px;
}

/* About section */
.about .col-2 {
    align-self: center;

}
.about img {
    margin: 0 0 -5px;
}

.about {
    background: no-repeat url(../img/shapes/Frame\ 57.jpg);
    background-position: top center;
    background-size: cover;
    padding: 50px 0 0;

}

/* my recipies */

.recipies .container {
    width: 1100px;
    max-width: 100%;
    padding: 120px 0;
}

.block {
    padding: 0 0 50px;
    text-align: center;
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
}

/* card design */
.card {
    padding: 25px;
    margin: 5px;
    box-shadow: 0 0 30px 0px rgba(224, 224, 224, 0.70);
    border-radius: 20px;
}

.card-body {
    padding: 30px 30px 20px 0;
}

.card img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.card-body h2{
    color: #3a3a3a;
    padding: 0 0 10px; 
    line-height: 1.4;
}

.card-content{
    padding: 20px 0 ;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

.card-body a{
    color: #12b3fb!important;
    font-size: 13px;
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 2px;
    line-height: 1.3;
}

.card-body {
    padding: 30px 30px 20px 10px;
}

.counter {
    padding: 0 0 120px;
}

.counter .box {
    padding: 80px 0;
    width: 1100px;
    max-width: 100%;
    text-align: center;
    box-shadow: 0px -2px 30px 1px rgb(224 224 224 / 70%);
    border-radius: 20px;
}

.counter-heading h2{
    font-size: 50px;
    line-height: 1;
    padding: 0 0 10px;
}

.counter-heading span {
    font-weight: 500;
    font-size: 16px;
}

footer {
    text-align: center;
    padding: 80px 0;
    background: #0b0d17;
}

footer h1 {
    color: #575757;
    padding: 0 0 10px;
    line-height: 1.5;
}

footer p {
    color: #fff;
    line-height: 1.5;
}

/* Responsive */
@media(max-width:1200px){
    .container{
        padding: 0 30px;
    }
    .hero .container{
        min-height: 600px;
    }
    .hero .heading{
        font-size: 45px;
    }   
    .counter .box{
        width: 1000px;
        max-width: 100%;
    }
}
@media(max-width:1080px){
   
    .hero .heading{
        font-size: 38px;
    }   
}
@media(max-width:992px){
    .col-2 {
        flex-basis: 45%;
        max-width: 45%;
    }

    .heading{
        font-size: 35px;
    }
    .content{
        font-size: 16px;
    }
    .article{
        padding: 0 0 30px;
        width: 600px;
        max-width: 100%;
    }
    .hero .heading{
        font-size: 30px;
    }
    .hero .content{
        font-size: 18px;
    }
   
    
    .hero{
        padding: 50px 0 0;
    }
    .hero .container{
        min-height: 400px;
    }
    /* .hero .row,.about .row{
        flex-flow: wrap column-reverse;
    } */

    /* Recipie */
    .block {
        width:600px ;
        padding: 0 0 20px;
    }
    .recipies .container {
        padding: 50px 0;
    }
    .recipies .row{
        justify-content: space-evenly;
    }
	.recipies .col-2{
        flex-basis:80%;
        max-width: 80%;
        margin: 20px 0;
    }
	
.card-content{
    font-size: 13px;
	}
    .counter{
        padding: 0 0 80px;
    }

}
@media(max-width:768px){
    .container{
        text-align: center;
    }
    .article{
        padding: 0 0 30px;
        width: 600px;
        max-width: 100%;
    }
    .heading {
        font-size: 40px;
    }
    
    .content {
        font-size: 18px;
    }
    .col-2 {
        flex-basis: 100%;
        max-width: 100%;
    }
    /* .recipies .col-2{
        flex-basis:70%
    } */
    .hero .heading{
        font-size: 45px;
    }
    .hero .content{
        font-size: 20px;
    }
    .hero{
        padding: 50px 0 0;
    }
    .hero .row,.about .row{
        flex-flow: wrap column-reverse;
    }
    img{
        width: 100%;
    }

    /* Recipie */
    .recipies .container {
        width: 600px;
        max-width: 100%;
        padding: 50px 10px 20px;
        /* margin: 0 auto; */
    }
    .block {
        width:600px ;
        padding: 0 0 20px;
    }
     /* .card{
        
        margin: 0 20px 30px;
    } */
    /* .card-body {
        padding: 25px;
    } */
    .counter{
        margin: 0 20px;
    }

}
@media(max-width:600px){
    .hero .container{
        min-height: 400px;
    }
    .col-2 {
        flex-basis: 100%;
        max-width: 100%;
    }
    .hero .heading{
        font-size: 38px;
    }
    .heading{
        font-size: 35px;
    }
    .content {
        font-size: 16px;
    }
    .hero{
        padding: 30px 0;
    }
    .hero .row,.about .row{
        flex-flow: wrap column-reverse;
    }
    img{
        width: 100%;
    }

    /* Recipie */
    .card{
        /* margin-bottom: 20px; */
        margin: 20px 0;
        padding: 10px;
    }
    .counter{
        margin: 0 10px;
        padding: 0 0 50px;
    }
    .counter-heading h2{
        font-size: 25px;
        padding: 0 0 10px;
    }

}
@media(max-width:458px){
    .container{
        padding: 0 10px;
    }
    .hero .heading{
        font-size: 35px;
    }
    .hero .content{
        font-size: 18px;
    }
    .heading{
        font-size: 30px;
    }
    .content{
        font-size: 16px;
    }
    .card{
        padding:0px;
    }
    .card-content, .card-body a{
        font-size: 13px;
    }
     /* .counter-heading h2{
        font-size: 16px;
    } */
}
@media(max-width:420px){
    .hero .heading{
        font-size: 28px;
    }
    .hero .content{
        font-size: 16px;
    }
}
